<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎进入七星博士云</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav class="clearfix"><a class="oper" href="/devices/detail"><img src="/images/ico_back.png" />返回</a>银白4b62</nav>
<div class="main_box">
    <div class="equip_box">
        <form>
            <select>
                <option value="1">2016-08-17</option>
                <option value="2">Saab</option>
                <option value="3">Fiat</option>
                <option value="4">Audi</option>
            </select>
        </form>
        <h2>3774</h2>
        <em>净化空气总量</em>
    </div>
    <ul class="parameter clearfix">
        <li><p>30000ug/m³</p>pm2.5</li>
        <li><p>31℃</p>温度</li>
        <li><p>38%</p>湿度</li>
        <li><p>0.01mg/m³</p>甲醛</li>
    </ul>
</div>
</body>
</html>