<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎进入七星博士云</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav class="clearfix"><a class="oper" href="/devices/detail"><img src="/images/ico_back.png" />返回</a>添加设备</nav>
<div class="main_box">
    <ul class="equip_list3">
        <li>
            <input type="text" value="ANING7">
        </li>
        <li>
            <input type="text" class="t_gray" value="请输入WIFI密码" onfocus="if(this.value=='请输入WIFI密码'){this.value=''};
            this.style.color='#222';" onblur="if(this.value==''||this.value=='请输入WIFI密码'){this.value='请输入WIFI密码';this.style.color='gray';}">
        </li>
        <li class="clearfix">
            <p>配置单个设备</p>
            <div class="pub_switch_box">
                <input type="checkbox" id="pub_switch_a1" class="pub_switch" />
                <label for="pub_switch_a1"></label>
            </div>
        </li>
    </ul>
    <button class="btn_oper">开始连接</button>
</div>
</body>
</html>