<%- include layouts/header.ejs %>
</head>
<body>
<nav class="clearfix">
    <a class="oper" href="/main">
        <img src="/images/ico_back.png" />返回
    </a>设备管理
    <a class="oper2" href="/devices/add">
        <img src="/images/ico_plus.png" />
    </a>
    <!--
    <a class="oper2" href="javascript:void(0);" onclick="layer.alert('请下载环境数app进行配网')">
        <img src="/images/ico_plus.png" />
    </a>
    -->
</nav>
<div class="main_box">
    <ul class="equip_list" id="deviceUL">
    </ul>
</div>
</body>
</html>
<script>
    function loadDevice() {
        $.get(__api_base_url + "/user/<%= login_uid %>/get_device_info", function(data) {
            $("#deviceUL").empty();
            var html = "";
            for(var i in data) {
                html += '<li class="clearfix" onclick="goToDetail(\'' + data[i]._id + '\')">';
                html += '<img src="/images/ic_device.png">';
                html += '<p>' + (data[i].name == undefined || data[i].name == "" ? data[i].mac : data[i].name) + '</p>';
                html += '<a href="javascript:void(0);">'+ (data[i].status == 1 ? "云端在线" : "不在线") +'</a>';
                html += '</li>';
            }
            $("#deviceUL").html(html);
        });
    }

    $(function() {
        loadDevice();
        setInterval(function() {
            loadDevice();
        }, 6000);
    });

    function goToDetail(deviceID) {
        window.location.href = "/devices/" + deviceID + "/detail";
    }
</script>