<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎进入七星博士云</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav class="clearfix"><a class="oper" href="/devices/detail"><img src="/images/ico_back.png" />返回</a>设备名称</nav>
<div class="main_box">
    <ul class="equip_list3">
        <li>
            <input type="text" value="银白4">
        </li>
    </ul>
    <button class="btn_oper">确 定</button>
</div>
</body>
</html>