<%- include layouts/header.ejs %>
</head>
<body>
<div class="main_box">
  <h1 class="logo" title="七星博士logo"><img src="/images/logo.png" /></h1>
  <h2 class="product">FEI环境数</h2>
  <ul class="equip_list3">
    <li>
      <input type="text" id="username" name="username" placeholder="请输入用户名" />
    </li>
    <li>
      <input type="text" id="password" name="password" placeholder="请输入密码" />
    </li>
  </ul>
  <button class="btn_oper" onclick="javascript:window.location.href='/main';">登 录</button>
  <div class="login_o clearfix"><a class="a1" href="/register">注册</a><a class="a2" href="/forget_password">忘记密码？</a></div>
</div>
</body>
</html>