<%- include layouts/header.ejs %>
<link href="/stylesheets/lanrenzhijia.css" type="text/css" rel="stylesheet" />
<script src="/javascripts/idangerous.swiper.min.js"></script>
<script src="/javascripts/touchable.js"></script>
</head>
<body class="home_layout">
<!-- 代码部分begin -->
<div class="device">
    <div style="overflow:hidden;display: none" id="spinnerDiv">
        <span style="position:absolute;left:50%;top:50%;">
            <img style="position:relative;left:-50%;top:-50%;" width="40" src="/images/spinner.gif">
        </span>
    </div>
    <div class="pagination"></div>
    <nav class="clearfix">
        <a class="oper" href="/users/">
            <img src="/images/ico_person.png" />
        </a>
        <span id="title"></span>
    </nav>
    <div class="swiper-container" >
        <div class="swiper-wrapper" id="slideList">
        </div>
    </div>
</div>
<!-- 代码部分end -->
<footer class="home_footer">
    <div class="menu clearfix">
        <button onclick="javascript:window.location.href='/devices/';" class="btn1"><span>设备管理</span></button>
        <button onclick="javascript:window.location.href='/shop/';" class="btn2"><span>在线商城</span></button>
    </div>
</footer>
<form id="frmMain" method="post" action="/monitor">
    <input type="hidden" id="created" name="created"/>
    <input type="hidden" id="p_val_1" name="p_val_1"/>
    <input type="hidden" id="p_val_2" name="p_val_2"/>
    <input type="hidden" id="p_val_3" name="p_val_3"/>
    <input type="hidden" id="p_val_4" name="p_val_4"/>
    <input type="hidden" id="priority" name="priority"/>
    <input type="hidden" id="fei_lvl" name="fei_lvl"/>
</form>
</body>
</html>
<script>
    var currentPage = 1;
    var options = {
        pagination: '.pagination',
        loop: false,
        grabCursor: true,
        //paginationClickable: true,
        onSlideNext: function (swiper) {
            currentPage++;
        },
        onSlidePrev: function (swiper) {
            currentPage--;
        },
        onSlideChangeStart: function (swiper) {
            $("#title").text(nameList[currentPage-1]);
            //console.log(currentPage);
        }
    };
    var mySwiper;
    var nameList = [];

    function loadDeviceList() {
        $("#spinnerDiv").show();
        $.get(__api_base_url + "/user/<%= user.u_id %>/get_device", function(data) {
            var html = "";
            for(var i in data) {
                nameList.push(data[i].name);

                var d = data[i].data;
                if(d == null) {
                    d = { x1:0, x3:0, x9:0, x10:0, x11:0 }
                }

                var status = data[i].status;
                var type = data[i].type;
                var x1 = d.x1;
                var x3 = d.x3;
                var x9 = d.x9;
                var x10 = d.x10;
                var x11 = d.x11;
                var x13 = d.x13;
                var x14 = d.x14;
                var p1 = d.p1;
                var fei = d.fei;
                var created = d.created;

                var suggest = '';
                var electric = '';
                if(status == 1) {
                    suggest = '云端在线';
                    if(type == 1) {
                        if(x13 >= 0 && x13 <= 4) {
                            electric = '<img src="/images/ic_ele_n' + x13 + '.png" />';
                        }
                    } else {
                        electric = '<img src="/images/ic_ele_n4.png" />';
                    }
                } else {
                    if(created != undefined) {
                        suggest = '上次检测时间：<p>' + (created == undefined ? "" : new Date(created).format("yyyy-MM-dd hh:mm:ss")) + '</p>';
                    }
                }

                var main = '';
                var mainLable = '';
                if(p1 == 3) {
                    main = x9;
                    mainLable = '当前甲醛浓度（mg/m³）';
                } else if(p1 == 4) {
                    main = x11;
                    mainLable = '当前温度（℃）';
                } else {
                    main = x3;
                    mainLable = '0.3um颗粒物个数';
                }

                var quality = '';
                var rank = '';
                if(p1 > 0) {
                    if(fei == 1) {
                        quality = '优';
                        rank = '<img src="/images/rank_1.gif" />';
                    } else if(fei == 2) {
                        quality = '良';
                        rank = '<img src="/images/rank_2.gif" />';
                    } else if(fei == 3) {
                        quality = '中';
                        rank = '<img src="/images/rank_3.gif" />';
                    } else if(fei == 4) {
                        quality = '差';
                        rank = '<img src="/images/rank_4.gif" />';
                    } else {
                        quality = '未知';
                    }
                } else {
                    if(x1 <= 35) {
                        quality = '优';
                        rank = '<img src="/images/rank_1.gif" />';
                    } else if(x1 <= 75) {
                        quality = '良';
                        rank = '<img src="/images/rank_2.gif" />';
                    } else if(x1 <= 150) {
                        quality = '中';
                        rank = '<img src="/images/rank_3.gif" />';
                    } else {
                        quality = '差';
                        rank = '<img src="/images/rank_4.gif" />';
                    }
                }

                var light = '';
                if(x14 > 0) {
                    if(x14 > 500) {
                        light = '<img src="/images/light_01.png" />';
                    } else if(x14 < 240) {
                        light = '<img src="/images/light_03.png" />';
                    } else {
                        light = '<img src="/images/light_02.png" />';
                    }
                }

                html += '<div class="swiper-slide">';
                html += '  <div class="main" id="_main_' + i + '">';
                html += '    <div class="power">' + electric + '</div>';
                html += '    <ul class="grade clearfix">';
                html += '      <li class="face">' + rank + '</li>';
                html += '      <li class="level">' + quality + '</li>';
                html += '      <li class="lighting">' + light + '</li>';
                html += '    </ul>';
                html += '    <h2><p>' + main + '</p>' + mainLable + '</h2>';
                html += '    <h3>' + suggest + '</h3>';
                html += '    <ul class="parameter clearfix">';
                html += '      <li><a href="javascript:void(0);" onclick="showMonitor(1)"><p>' + x1 + 'ug/m³</p>pm2.5</a></li>';
                html += '      <li><a href="javascript:void(0);" onclick="showMonitor(2)"><p>' + x11 + '℃</p>温度</a></li>';
                html += '      <li><a href="javascript:void(0);" onclick="showMonitor(3)"><p>' + x10 + '%</p>湿度</a></li>';
                html += '      <li class="last"><a href="javascript:void(0);" onclick="showMonitor(4)"><p>' + x9 + 'mg/m³</p>甲醛</a></li>';
                html += '    </ul>';
                html += '    <form id="frmMain_' + i + '" method="post" action="/monitor">';
                html += '      <input type="hidden" value="' + new Date(created).format("yyyy-MM-dd hh:mm:ss") + '" name="created"/>';
                html += '      <input type="hidden" value="' + x1 + '" name="p_val_1"/>';
                html += '      <input type="hidden" value="' + x11 + '" name="p_val_2"/>';
                html += '      <input type="hidden" value="' + x10 + '" name="p_val_3"/>';
                html += '      <input type="hidden" value="' + x9 + '" name="p_val_4"/>';
                html += '      <input type="hidden" value="' + p1 + '" name="priority"/>';
                html += '      <input type="hidden" value="' + fei + '" name="fei_lvl"/>';
                html += '    </form>';
                html += '  </div>';
                html += '</div>';
            }
            $("#slideList").html(html);

            mySwiper = new Swiper('.swiper-container', options);

            $("#title").text(nameList[0]);
            $("#spinnerDiv").hide();
        });
    }

    function updateCurrentPage() {
        $("#spinnerDiv").show();
        $.get(__api_base_url + "/user/<%= user.u_id %>/get_device", function (data) {
            var i = currentPage -1;

            var d = data[i].data;
            if(d == null) {
                d = { x1:0, x3:0, x9:0, x10:0, x11:0 }
            }

            var status = data[i].status;
            var type = data[i].type;
            var x1 = d.x1;
            var x3 = d.x3;
            var x9 = d.x9;
            var x10 = d.x10;
            var x11 = d.x11;
            var x13 = d.x13;
            var x14 = d.x14;
            var p1 = d.p1;
            var fei = d.fei;
            var created = d.created;

            var suggest = '';
            var electric = '';
            if(status == 1) {
                suggest = '云端在线';
                if(type == 1) {
                    if(x13 > 0 && x13 <= 4) {
                        electric = '<img src="/images/ic_ele_n' + x13 + '.png" />';
                    }
                } else {
                    electric = '<img src="/images/ic_ele_n4.png" />';
                }
            } else {
                if(created != undefined) {
                    suggest = '上次检测时间：<p>' + (created == undefined ? "" : new Date(created).format("yyyy-MM-dd hh:mm:ss")) + '</p>';
                }
            }

            var main = '';
            var mainLable = '';
            if(p1 == 3) {
                main = x9;
                mainLable = '当前甲醛浓度（mg/m³）';
            } else if(p1 == 4) {
                main = x11;
                mainLable = '当前温度（℃）';
            } else {
                main = x3;
                mainLable = '0.3um颗粒物个数';
            }

            var quality = '';
            var rank = '';
            if(p1 > 0) {
                if(fei == 1) {
                    quality = '优';
                    rank = '<img src="/images/rank_1.gif" />';
                } else if(fei == 2) {
                    quality = '良';
                    rank = '<img src="/images/rank_2.gif" />';
                } else if(fei == 3) {
                    quality = '中';
                    rank = '<img src="/images/rank_3.gif" />';
                } else if(fei == 4) {
                    quality = '差';
                    rank = '<img src="/images/rank_4.gif" />';
                } else {
                    quality = '未知';
                }
            } else {
                if(x1 <= 35) {
                    quality = '优';
                    rank = '<img src="/images/rank_1.gif" />';
                } else if(x1 <= 75) {
                    quality = '良';
                    rank = '<img src="/images/rank_2.gif" />';
                } else if(x1 <= 150) {
                    quality = '中';
                    rank = '<img src="/images/rank_3.gif" />';
                } else {
                    quality = '差';
                    rank = '<img src="/images/rank_4.gif" />';
                }
            }

            var light = '';
            if(x14 > 0) {
                if(x14 > 500) {
                    light = '<img src="/images/light_01.png" />';
                } else if(x14 < 240) {
                    light = '<img src="/images/light_03.png" />';
                } else {
                    light = '<img src="/images/light_02.png" />';
                }
            }

            var html = '';
            html += '<div class="power">' + electric + '</div>';
            html += '<ul class="grade clearfix">';
            html += '  <li class="face">' + rank + '</li>';
            html += '  <li class="level">' + quality + '</li>';
            html += '  <li class="lighting">' + light + '</li>';
            html += '</ul>';
            html += '<h2><p>' + main + '</p>' + mainLable + '</h2>';
            html += '<h3>' + suggest + '</h3>';
            html += '<ul class="parameter clearfix">';
            html += '  <li><a href="javascript:void(0);" onclick="showMonitor(1)"><p>' + x1 + 'ug/m³</p>pm2.5</a></li>';
            html += '  <li><a href="javascript:void(0);" onclick="showMonitor(2)"><p>' + x11 + '℃</p>温度</a></li>';
            html += '  <li><a href="javascript:void(0);" onclick="showMonitor(3)"><p>' + x10 + '%</p>湿度</a></li>';
            html += '  <li class="last"><a href="javascript:void(0);" onclick="showMonitor(4)"><p>' + x9 + 'mg/m³</p>甲醛</a></li>';
            html += '</ul>';
            html += '<form id="frmMain_' + i + '" method="post" action="/monitor">';
            html += '  <input type="hidden" value="' + new Date(created).format("yyyy-MM-dd hh:mm:ss") + '" name="created"/>';
            html += '  <input type="hidden" value="' + x1 + '" name="p_val_1"/>';
            html += '  <input type="hidden" value="' + x11 + '" name="p_val_2"/>';
            html += '  <input type="hidden" value="' + x10 + '" name="p_val_3"/>';
            html += '  <input type="hidden" value="' + x9 + '" name="p_val_4"/>';
            html += '  <input type="hidden" value="' + p1 + '" name="priority"/>';
            html += '  <input type="hidden" value="' + fei + '" name="fei_lvl"/>';
            html += '</form>';
            $("#_main_" + i).html(html);

            $("#spinnerDiv").hide();
        });
    }

    var intHandle;
    $(function() {
        var div = $("#slideList").Touchable();
        div.bind('doubleTap', function() {
            clearInterval(intHandle);
            updateCurrentPage();

            intHandle = setInterval(function() {
                updateCurrentPage();
            }, 6000);
        })

        loadDeviceList();

        intHandle = setInterval(function() {
            updateCurrentPage();
        }, 6000);
    });

    function showMonitor(index) {
        var i = currentPage - 1;
        $("#frmMain_" + i).attr('action', '/monitor/' + index);
        $("#frmMain_" + i).submit();
    }

//////////////////////////////////////////////////////////////////
    function doubleclick(el, onsingle, ondouble) {
        if (el.getAttribute("data-dblclick") == null) {
            el.setAttribute("data-dblclick", 1);
            setTimeout(function () {
                if (el.getAttribute("data-dblclick") == 1) {
                    onsingle();
                }
                el.removeAttribute("data-dblclick");
            }, 300);
        } else {
            el.removeAttribute("data-dblclick");
            ondouble();
        }
    }

    function PageDbClick(_this) {
        doubleclick(_this, function(){
            //alert('single')
        }, function(){
            //alert('double')
            clearInterval(intHandle);
            updateCurrentPage();

            intHandle = setInterval(function() {
                updateCurrentPage();
            }, 6000);
        });
    }
</script>