<%- include layouts/header.ejs %>
<link href="/stylesheets/lanrenzhijia.css" type="text/css" rel="stylesheet" />
<script src="/javascripts/app.js"></script>
<script src="/javascripts/idangerous.swiper.min.js"></script>
</head>
<body>
<!-- 代码部分begin -->
<div class="device">
    <nav class="clearfix">
        <a class="oper" href="/main/">
            <img src="/images/ico_back.png" />返回
        </a><span>PM2.5</span>
    </nav>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="main2">
                    <div class="time">2016-08-16 17:01:33</div>
                    <div class="data1">
                        <h3>PM2.5</h3>
                        <h2><p>33</p>ug/m³</h2>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="main2">
                    <div class="time">2016-08-16 17:01:33</div>
                    <div class="data2">
                        <h3>温度</h3>
                        <h2><p>30</p>℃</h2>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="main2">
                    <div class="time">2016-08-16 17:01:33</div>
                    <div class="data3">
                        <h3>湿度</h3>
                        <h2><p>43</p>%</h2>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="main2">
                    <div class="time">2016-08-16 17:01:33</div>
                    <div class="data4">
                        <h3>甲醛</h3>
                        <h2><p>0.09</p>mg/m³</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="pagination pagination2"></div>
        <div class="comment clearfix"><img src="/images/face_04.gif" /><p>你家的空气太糟糕啦，我要离家出走了~</p></div>
    </footer>
</div>

<script>
    var mySwiper = new Swiper('.swiper-container',{
        pagination: '.pagination',
        loop:false,
        grabCursor: true,
        //paginationClickable: true
    });

    $(function() {
        mySwiper.swipeTo(<%= index - 1 %>, 0);
    });
</script>
<!-- 代码部分end -->
</body>
</html>