<%- include layouts/header.ejs %>
</head>
<body>
<nav class="clearfix">
    <a class="oper" href="/">
        <img src="images/ico_back.png" />返回
    </a>用户注册
</nav>
<div class="main_box">
    <ul class="equip_list3">
        <li class="clearfix">
            <p><input type="text" id="tel" name="tel" placeholder="请输入注册手机号"></p>
            <a href="javascript:void(0);" id="btnReqCode">获取验证码</a>
        </li>
        <li>
            <input type="text" id="code" name="code" placeholder="请输入验证码">
        </li>
        <li>
            <input type="text" id="password" name="password" placeholder="请输入密码">
        </li>
    </ul>
    <button class="btn_oper" id="btnRegister">注 册</button>
</div>
</body>
</html>
<script>
var __wait = 60;
function count_down(_this) {
    if (__wait == 0) {
        _this.click(function() {
            requestCode(_this);
        });
        _this.text("获取验证码");
        _this.css("background-color", "#009dff");
        __wait = 60;
    } else {
        _this.text("剩余" + __wait + "秒");
        __wait--;
        setTimeout(function() {
            count_down(_this)
        }, 1000)
    }
}

function requestCode(_this) {
    var tel = $("#tel").val();
    if(tel == "") {
        layer.alert("请输入手机号");
        return;
    }
    $.post(__api_base_url + "/user/request_code", {tel:tel}, function(data) {
        var success = data.success;
        if(success) {
            _this.unbind('click');
            _this.css("background-color", "grey");
            count_down(_this);
        } else {
            layer.alert(data.error);
        }
    });
}

$(function() {
    $("#btnReqCode").click(function() {
        requestCode($(this));
    });

    $("#btnRegister").click(function() {
        var tel = $("#tel").val();
        if(tel == "") {
            layer.alert("请输入手机号");
            return;
        }
        var code = $("#code").val();
        if(code == "") {
            layer.alert("请输入验证码");
            return;
        }
        var password = $("#password").val();
        if(password == "") {
            layer.alert("请输入密码");
            return;
        }
        $.post(__api_base_url + "/user/register", {username:tel, password:password, code:code}, function(data) {
            var success = data.success;
            if(success) {
                window.location.href = "/";
            } else {
                layer.alert(data.error);
            }
        });
    });
});
</script>