<%- include layouts/header.ejs %>
</head>
<body>
<nav class="clearfix">
    <a class="oper" href="/main">
        <img src="/images/ico_back.png" />返回
    </a>在线商城
</nav>
<div class="main_box" style="-webkit-overflow-scrolling:touch;overflow:auto;">
    <iframe src="https://moral.tmall.com/" width="100%" height="100%" frameborder="0" scrolling="yes" />
</div>
</body>
</html>