<%- include layouts/header.ejs %>
</head>
<body>
<nav class="clearfix">
    <a class="oper" href="/users">
        <img src="/images/ico_back.png" />返回
    </a>用户反馈
</nav>
<div class="main_box">
    <ul class="equip_list3">
        <li>
            <textarea rows="4" autofocus></textarea>
        </li>
    </ul>
    <button class="btn_oper">提 交</button>
</div>
</body>
</html>