<%- include layouts/header.ejs %>
</head>
<body>
<nav class="clearfix"><a class="oper" href="/users"><img src="/images/ico_back.png" />返回</a>修改密码</nav>
<div class="main_box">
    <ul class="equip_list3">
        <li>
            <input type="text" id="old_password" name="old_password" placeholder="请输入原密码">
        </li>
        <li>
            <input type="text" id="new_password" name="new_password" placeholder="请输入新密码">
        </li>
        <li>
            <input type="text" id="re_password" name="re_password" placeholder="请确认新密码">
        </li>
    </ul>
    <button class="btn_oper" id="btnUpdate">修 改</button>
</div>
</body>
</html>
<script>
    $(function() {
        $("#btnUpdate").click(function() {
            var old_password = $("#old_password").val();
            if(old_password == "") {
                layer.alert("请输入原密码");
                return;
            }
            var new_password = $("#new_password").val();
            if(new_password == "") {
                layer.alert("请输入新密码");
                return;
            }
            var re_password = $("#re_password").val();
            if(re_password == "") {
                layer.alert("请输入确认密码");
                return;
            }

            if(new_password != re_password) {
                layer.alert("两次输入的新密码不一致");
                return;
            }
            $.post(__api_base_url + "/user/<%= login_uid %>/change_psw", {password:old_password, new_password:new_password}, function(data) {
                var success = data.success;
                if(success) {
                    window.location.href = "/users";
                } else {
                    layer.alert(data.error);
                }
            });
        });
    });
</script>