<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎进入七星博士云</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav class="clearfix"><a class="oper" href="/users"><img src="/images/ico_back.png" />返回</a>修改密码</nav>
<div class="main_box">
    <ul class="equip_list3">
        <li>
            <input type="text" class="t_gray" value="请输入原密码" value="请输入原密码" onfocus="if(this.value=='请输入原密码'){this.value=''};
            this.style.color='#222';" onblur="if(this.value==''||this.value=='请输入原密码'){this.value='请输入原密码';this.style.color='gray';}">
        </li>
        <li>
            <input type="text" class="t_gray" value="请输入新密码" value="请输入新密码" onfocus="if(this.value=='请输入新密码'){this.value=''};
            this.style.color='#222';" onblur="if(this.value==''||this.value=='请输入新密码'){this.value='请输入新密码';this.style.color='gray';}">
        </li>
        <li>
            <input type="text" class="t_gray" value="请确认新密码" value="请确认新密码" onfocus="if(this.value=='请确认新密码'){this.value=''};
            this.style.color='#222';" onblur="if(this.value==''||this.value=='请确认新密码'){this.value='请确认新密码';this.style.color='gray';}">
        </li>
    </ul>
    <button class="btn_oper">修 改</button>
</div>
</body>
</html>