<%- include layouts/header.ejs %>
</head>
<body>
<nav class="clearfix">
    <a class="oper" href="/main">
        <img src="/images/ico_back.png" />返回
    </a>个人设置
</nav>
<div class="main_box">
    <ul class="equip_list2">
        <li class="clearfix" onclick="redirectPage(1)">
            <p>昵称</p>
            <a href="javascript:void(0);"><%= n_name %></a>
        </li>
        <li class="clearfix" onclick="redirectPage(2)">
            <p>改密码</p>
            <a href="javascript:void(0);"></a>
        </li>
        <li class="clearfix">
            <p>家庭综合指数</p>
            <a href="javascript:void(0);" id="txtAvgNumber" class="noico">123</a>
        </li>
        <li class="clearfix" onclick="redirectPage(3)">
            <p>用户反馈</p>
            <a href="javascript:void(0);"></a>
        </li>
    </ul>
    <button class="btn_oper" onclick="logout();">退出当前账号</button>
</div>
</body>
</html>
<script>
    $(function(){
        $.get(__api_base_url + '/user/<%= login_uid %>/get_avg_data', function(data) {
            $("#txtAvgNumber").text(data.avg);
        });
    });

    function redirectPage(index) {
        if(index == 1) {
            window.location.href = "/users/nickname";
        } else if(index == 2) {
            window.location.href = "/users/password";
        } else if(index == 3) {
            window.location.href = "/users/feedback";
        }
    }

    function logout() {
        $.post(__api_base_url + "/user/<%= login_uid %>/offline", function(data) {
            window.location.href='/users/logout';
        });

        setTimeout(function() {
            window.location.href='/users/logout';
        }, 3000);
    }
</script>