<%- include layouts/header.ejs %>
</head>
<body>
<nav class="clearfix"><a class="oper" href="/users"><img src="/images/ico_back.png" />返回</a>修改密码</nav>
<div class="main_box">
    <ul class="equip_list3">
        <li>
            <input type="text" placeholder="请输入原密码">
        </li>
        <li>
            <input type="text" placeholder="请输入新密码">
        </li>
        <li>
            <input type="text" placeholder="请确认新密码">
        </li>
    </ul>
    <button class="btn_oper">修 改</button>
</div>
</body>
</html>