/* 首页滚屏 */
body{width:100%;height:100%;margin:0;padding:0;background-color:#fff;font-family:'Microsoft Yahei',Tahoma,Helvetica,Arial,sans-serif;color:#222}
html{width:100%;height:100%;position:relative}

.device {
	width:100%;
	height:89%;
	position: relative;
	overflow:hidden;
}

/* 内容外框 */
.swiper-container {
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}

/* 滚屏外框*/
.swiper-wrapper {
	position:relative;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;

	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;

	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);

	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;

	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;

}

.swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

/* 单屏*/
.content-slide {
  color: #fff;
}
.title {
  font-size: 25px;
  margin-bottom: 10px;
}

.swiper-pagination-switch {
  display: inline-block;
  width:8px;
  height:8px;
  border-radius:50%;
  background: #555;
  margin: 0 4px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}

.swiper-slide {
	width:100%;
	height:100%;
	float: left;
}

/* 滚屏圆点和滚屏箭头*/
.pagination {
	position: absolute;
	left: 0;
	text-align: center;
	bottom:4%;
	width:100%;
	z-index:1000;
}
.pagination2{bottom:13%}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}